h1{
    background-color: #ff0000;
    color: #fcfcfc;
    height: 60;
  }

  #spfc {
	position: absolute; 
	left: 280px; /* posiciona a 90px para a esquerda */ 
	top: 25px; /* posiciona a 70px para baixo */
	}


h2{
  background-color: antiquewhite;
}

